In [69]:
import pandas as pd
import numpy
import csv

In [70]:
df = pd.read_csv('jeopardy.csv') # the Jeopardy data file is provided by Codecademy

In [144]:
# What does Jeopardy! look like? 
print(df.head(5))
print(df.info())

   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            Question      Answer  \
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

   words in question  Float Value
0              False        200.0
1              False        200.0
2              False        200.0
3              False        200.0
4              False        200.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Show Number        216930 non-null  int64
 1   Air Date           216930 non-null  object
 2   Round              216930 non-null  object
 3   Category           216930 non-null  object
 4   Value              216930 non-null  object
 5   Question           216930 non-null  object
 6   Answer             216928 non-null  object
 7   words in question  216930 non-null  bool
 8   Float Value        216930 non-null  float64
dtypes: bool(1), float64(1), int64(1), object(6)
memory usage: 13.4+ MB
None

In [78]:
# Lets look at a column.
try:
    print(df.Round)
except AttributeError:
    print("Column does not exist")

Column does not exist

In [79]:
# Rename the columns so the data frame is easier to work with
df.rename(columns=str.strip ,inplace=True) 
# we dont know how much whitespace is there so lets get rid of it all, and replace the dataframe with inplace

In [80]:
# Can we look at a column now?
print(df.Round) #Success

0                Jeopardy!
1                Jeopardy!
2                Jeopardy!
3                Jeopardy!
4                Jeopardy!
                ...
216925    Double Jeopardy!
216926    Double Jeopardy!
216927    Double Jeopardy!
216928    Double Jeopardy!
216929     Final Jeopardy!
Name: Round, Length: 216930, dtype: object

In [112]:
def filter_data(data, words):
  # Lowercases all words in the list of words as well as the questions. Returns true is all of the words in the list appear in the question.
  filter = lambda x: all(word in x for word in words)
  # Applies the labmda function to the Question column and returns the rows where the function returned True
  return data.loc[data["Question"].apply(filter)]

In [113]:
filtered = filter_data(df, ["King", "England"])

In [114]:
print(len(filtered))

49

In [115]:
def filter_data_2(data, words):
  # Lowercases all words in the list of words as well as the questions. Returns true if all words in question.
  filter = lambda x: all(word.lower() in x.lower() for word in words)
  # Applies the lambda function to the Question column and returns the rows where the function returned True
  return data.loc[data["Question"].apply(filter)]

In [116]:
filtered = filter_data_2(df, ["King", "England"])
print(len(filtered))

152

In [121]:
df["Float Value"] = df["Value"].apply(lambda x: float(x[1:].replace(',','')) if x != "None" else 0)
# the slice pops off the dollar sign
# the replace removes any commas in values such as 2,000

In [128]:
king_questions = filter_data_2(df, ["King"])

In [130]:
# what is the average value of questions that contain the word "King"?
king_questions = filter_data_2(df, ["King"])

#we have already added the float values to the dataframe.

king_mean_value = king_questions["Float Value"].mean()

In [131]:
print(king_mean_value)

771.8833850722094

In [141]:
# Write a function that returns the count of the unique answers to all of the questions in a dataset
# we have the King df above so lets use that as suggested

def unique_answers(data):
    count_unique = data['Answer'].value_counts()
    return count_unique

In [142]:
print(king_questions.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer', 'words in question', 'Float Value'],
      dtype='object')

In [143]:
unique_answers(king_questions)

Henry VIII        55
Solomon           35
Richard III       33
Louis XIV         31
David             30
                  ..
ATMs               1
Pinto              1
Bombs              1
the Today show     1
dolmen             1
Name: Answer, Length: 5268, dtype: int64

In [170]:
# How many questions from the 90s use the word "Computer" compared to questions from the 2000s?
# Lets add the year to the df
df["Year"] = df["Air Date"].apply(lambda x: (x[:4] if x != "None" else 0))

In [171]:
# Use our filter function to look for computer in Questions
computer_questions = filter_data_2(df, ["Computer"])

In [173]:
small_df = df[["Air Date","Question"]]

In [176]:
print(small_df.head(5))
small_df["Year"] = small_df["Air Date"].apply(lambda x: (x[:4] if x != "None" else 0))
print(small_df.head(5))

# We get a warning as it recognizes small_df is a slice of df and its making sure this is what we want to do?

     Air Date                                           Question  Year
0  2004-12-31  For the last 8 years of his life, Galileo was ...  2004
1  2004-12-31  No. 2: 1912 Olympian; football star at Carlisl...  2004
2  2004-12-31  The city of Yuma in this state has a record av...  2004
3  2004-12-31  In 1963, live on "The Art Linkletter Show", th...  2004
4  2004-12-31  Signer of the Dec. of Indep., framer of the Co...  2004
     Air Date                                           Question  Year
0  2004-12-31  For the last 8 years of his life, Galileo was ...  2004
1  2004-12-31  No. 2: 1912 Olympian; football star at Carlisl...  2004
2  2004-12-31  The city of Yuma in this state has a record av...  2004
3  2004-12-31  In 1963, live on "The Art Linkletter Show", th...  2004
4  2004-12-31  Signer of the Dec. of Indep., framer of the Co...  2004

<ipython-input-176-95e21595c6f8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_df["Year"] = small_df["Air Date"].apply(lambda x: (x[:4] if x != "None" else 0))

In [178]:
# Lets do it with loc instead

small_df_with_loc = df.loc[:,['Air Date','Question']]

In [182]:
# No copy warning!
small_df_with_loc["Decade"] = small_df_with_loc["Air Date"].apply(lambda x: (x[:3] if x != "None" else 0))

In [183]:
print(small_df_with_loc.head(5))

     Air Date                                           Question  Year Decade
0  2004-12-31  For the last 8 years of his life, Galileo was ...  2004    200
1  2004-12-31  No. 2: 1912 Olympian; football star at Carlisl...  2004    200
2  2004-12-31  The city of Yuma in this state has a record av...  2004    200
3  2004-12-31  In 1963, live on "The Art Linkletter Show", th...  2004    200
4  2004-12-31  Signer of the Dec. of Indep., framer of the Co...  2004    200

In [186]:
# Now we need to know if its 90s or 2000s???
# Lets take a look at the year column
print(small_df_with_loc['Decade'].value_counts()) # we have some in 2010s and 80s so we need to clean

200    123852
199     56745
201     28225
198      8108
Name: Decade, dtype: int64

In [215]:
#lets filter questions with computer in our small df
computer_questions = filter_data_2(small_df_with_loc, ["Computer"])
# print(computer_questions.info())
computer_questions_rows = len(computer_questions)

In [216]:
#Lets group by decade to see where the most questions were
computers = computer_questions.groupby('Decade').Year.count().reset_index()
print(computers)

  Decade  Year
0    198     6
1    199    98
2    200   268
3    201    59

In [219]:
computers["Percent"] = computers.Year.apply(lambda x: float(x)/float(computer_questions_rows)*100)

In [220]:
print(computers)

  Decade  Year    Percent
0    198     6   1.392111
1    199    98  22.737819
2    200   268  62.180974
3    201    59  13.689095

In [221]:
# Is there a connection between the round and the category? 
print(df['Round'].value_counts())
print(df['Category'].value_counts())

Jeopardy!           107384
Double Jeopardy!    105912
Final Jeopardy!       3631
Tiebreaker               3
Name: Round, dtype: int64
BEFORE & AFTER                    547
SCIENCE                           519
LITERATURE                        496
AMERICAN HISTORY                  418
POTPOURRI                         401
                                 ...
CURRENT WORLD LEADERS               1
FINANCIERS                          1
U.S. TRAVEL AND TOURISM             1
THE WORLD OF CINEMA                 1
TELECOMMUNICATIONS TERMINOLOGY      1
Name: Category, Length: 27995, dtype: int64

In [234]:
# Lots of categories so lets only look at the top 10
category_counts = df['Category'].value_counts()
print(category_counts.head(20))

BEFORE & AFTER             547
SCIENCE                    519
LITERATURE                 496
AMERICAN HISTORY           418
POTPOURRI                  401
WORLD HISTORY              377
WORD ORIGINS               371
COLLEGES & UNIVERSITIES    351
HISTORY                    349
SPORTS                     342
U.S. CITIES                339
WORLD GEOGRAPHY            338
BODIES OF WATER            327
ANIMALS                    324
STATE CAPITALS             314
BUSINESS & INDUSTRY        311
ISLANDS                    301
WORLD CAPITALS             300
U.S. GEOGRAPHY             299
RELIGION                   297
Name: Category, dtype: int64

In [243]:
# New dataframe with only those categories
# Not elegant 
df_top_categories = df[(df.Category == 'BEFORE & AFTER')|\
                       (df.Category == 'SCIENCE')|\
                       (df.Category == 'LITERATURE')|\
                       (df.Category == 'AMERICAN HISTORY')|\
                       (df.Category == 'POTPOURRI')|\
                       (df.Category == 'WORLD HISTORY')|\
                       (df.Category == 'WORD ORIGINS')|\
                       (df.Category == 'COLLEGES & UNIVERSITIES')|\
                       (df.Category == 'HISTORY')|\
                       (df.Category == 'SPORTS')|\
                       (df.Category == 'U.S. CITIES')|\
                       (df.Category == 'WORLD GEOGRAPHY')|\
                       (df.Category == 'BODIES OF WATER')|\
                       (df.Category == 'ANIMALS')|\
                       (df.Category == 'STATE CAPITALS')|\
                       (df.Category == 'BUSINESS & INDUSTRY')|\
                       (df.Category == 'ISLANDS')|\
                       (df.Category == 'WORLD CAPITALS')|\
                       (df.Category == 'U.S. GEOGRAPHY')|\
                       (df.Category == 'RELIGION')
                      ]

In [250]:
round_categories = df_top_categories.groupby(['Category','Round']).Year.count().reset_index()

In [251]:
print(round_categories)

                   Category             Round  Year
0          AMERICAN HISTORY  Double Jeopardy!   174
1          AMERICAN HISTORY   Final Jeopardy!    17
2          AMERICAN HISTORY         Jeopardy!   227
3                   ANIMALS  Double Jeopardy!    79
4                   ANIMALS   Final Jeopardy!    12
5                   ANIMALS         Jeopardy!   233
6            BEFORE & AFTER  Double Jeopardy!   450
7            BEFORE & AFTER         Jeopardy!    97
8           BODIES OF WATER  Double Jeopardy!   171
9           BODIES OF WATER   Final Jeopardy!     6
10          BODIES OF WATER         Jeopardy!   150
11      BUSINESS & INDUSTRY  Double Jeopardy!   103
12      BUSINESS & INDUSTRY   Final Jeopardy!    23
13      BUSINESS & INDUSTRY         Jeopardy!   185
14  COLLEGES & UNIVERSITIES  Double Jeopardy!   220
15  COLLEGES & UNIVERSITIES   Final Jeopardy!     6
16  COLLEGES & UNIVERSITIES         Jeopardy!   125
17                  HISTORY  Double Jeopardy!   194
18                  HISTORY         Jeopardy!   155
19                  ISLANDS  Double Jeopardy!   215
20                  ISLANDS   Final Jeopardy!    17
21                  ISLANDS         Jeopardy!    69
22               LITERATURE  Double Jeopardy!   381
23               LITERATURE   Final Jeopardy!    10
24               LITERATURE         Jeopardy!   105
25                POTPOURRI  Double Jeopardy!   146
26                POTPOURRI         Jeopardy!   255
27                 RELIGION  Double Jeopardy!   172
28                 RELIGION   Final Jeopardy!     8
29                 RELIGION         Jeopardy!   117
30                  SCIENCE  Double Jeopardy!   296
31                  SCIENCE   Final Jeopardy!     6
32                  SCIENCE         Jeopardy!   217
33                   SPORTS  Double Jeopardy!    81
34                   SPORTS   Final Jeopardy!     8
35                   SPORTS         Jeopardy!   253
36           STATE CAPITALS  Double Jeopardy!    73
37           STATE CAPITALS   Final Jeopardy!    31
38           STATE CAPITALS         Jeopardy!   210
39              U.S. CITIES  Double Jeopardy!   125
40              U.S. CITIES   Final Jeopardy!    19
41              U.S. CITIES         Jeopardy!   195
42           U.S. GEOGRAPHY  Double Jeopardy!   108
43           U.S. GEOGRAPHY   Final Jeopardy!     8
44           U.S. GEOGRAPHY         Jeopardy!   183
45             WORD ORIGINS  Double Jeopardy!   192
46             WORD ORIGINS   Final Jeopardy!    34
47             WORD ORIGINS         Jeopardy!   145
48           WORLD CAPITALS  Double Jeopardy!   185
49           WORLD CAPITALS   Final Jeopardy!    19
50           WORLD CAPITALS         Jeopardy!    96
51          WORLD GEOGRAPHY  Double Jeopardy!   254
52          WORLD GEOGRAPHY   Final Jeopardy!    19
53          WORLD GEOGRAPHY         Jeopardy!    65
54            WORLD HISTORY  Double Jeopardy!   237
55            WORLD HISTORY   Final Jeopardy!    11
56            WORLD HISTORY         Jeopardy!   129

In [252]:
# Pivot ittttt
pivot_categories_round = round_categories.pivot(
  columns = 'Round',
  index = 'Category',
  values = 'Year'
)

In [253]:
print(pivot_a)

Round                    Double Jeopardy!  Final Jeopardy!  Jeopardy!
Category
AMERICAN HISTORY                    174.0             17.0      227.0
ANIMALS                              79.0             12.0      233.0
BEFORE & AFTER                      450.0              NaN       97.0
BODIES OF WATER                     171.0              6.0      150.0
BUSINESS & INDUSTRY                 103.0             23.0      185.0
COLLEGES & UNIVERSITIES             220.0              6.0      125.0
HISTORY                             194.0              NaN      155.0
ISLANDS                             215.0             17.0       69.0
LITERATURE                          381.0             10.0      105.0
POTPOURRI                           146.0              NaN      255.0
RELIGION                            172.0              8.0      117.0
SCIENCE                             296.0              6.0      217.0
SPORTS                               81.0              8.0      253.0
STATE CAPITALS                       73.0             31.0      210.0
U.S. CITIES                         125.0             19.0      195.0
U.S. GEOGRAPHY                      108.0              8.0      183.0
WORD ORIGINS                        192.0             34.0      145.0
WORLD CAPITALS                      185.0             19.0       96.0
WORLD GEOGRAPHY                     254.0             19.0       65.0
WORLD HISTORY                       237.0             11.0      129.0

In [ ]:
#Now we can easily see that Literature is more like to pop up in Double Jeopardy